In [1]:
# To display graphs in this notebook, run this:
%matplotlib inline

# We're now going to import some important libraries

import numpy.random # for generating a noisy data set
from sklearn import linear_model # for training a linear model

import matplotlib.pyplot # for plotting in general
from math import log
import math

import pandas as pd

In [9]:
#Load Data
data = pd.read_csv("kmer_graphs_data.csv")
data

,Unnamed: 0,k,Number of Distinct k-mers,4^k,Estimated k-mers
0,0,1,2,4,29971
1,1,2,10,16,29970
2,2,3,32,64,29969
3,3,4,136,256,29968
4,4,5,512,1024,29967
5,5,6,2013,4096,29966
6,6,7,24940,16384,29965
7,7,8,59830,65536,29964
8,8,9,23904,262144,29963
9,9,10,16200,1048576,29962
10,10,11,29784,4194304,29961
11,11,12,29813,16777216,29960
12,12,13,29605,67108864,29959
13,13,14,44375,268435456,29958
14,14,15,19881,1073741824,29957
15,15,16,29864,4294967296,29956
16,16,17,39470,17179869184,29955
17,17,18,22385,68719476736,29954
18,18,19,8238,274877906944,29953
19,19,20,29871,1099511627776,29952
20,20,21,35516,4398046511104,29951
21,21,22,35556,17592186044416,29950
22,22,23,28162,70368744177664,29949
23,23,24,24882,281474976710656,29948
24,24,25,27371,1125899906842624,29947
25,25,26,27373,4503599627370496,29946
26,26,27,27372,18014398509481984,29945
27,27,28,9602,72057594037927936,29944
28,28,29,7564,288230376151711744,29943
29,29,30,29862,1152921504606846976,29942
30,30,31,29863,4611686018427387904,29941

In [8]:
#Define Values
k = list(data['k'])

#Estimated K-Mers from len(genome)-k+1
eskmers =

In [ ]:
#Make Log graph